*{
  margin:0;
  padding:0;
  font-family:sans-serif;
  font-weight:lighter;
  line-height:1.4em;
}

body{
  background:#ccc;
}

header{
  padding:16px;
  background:#222;
}

header h1{
  font-size:24px;
  line-height:24px;
  color:white;
}

article{
  max-width:900px;
  margin:0 auto;
}

h2{
  font-size:32px;
  margin-bottom:16px;
}

p{
  font-size:24px;
  margin-bottom:16px;
}

button{
  background:#ccc;
  color:white;
  border:none;
  font-size:32px;
  line-height:32px;
  padding:16px;
  cursor:pointer;
  border-radius:2px;
  box-shadow: 4px 4px 0 #333;
  transition:background 0.2s ease-out, box-shadow 0.2s ease-out;
}

button:hover{
  background:#888;
  box-shadow: 2px 2px 0 #333;
}

button:active{
  background:#666;
  box-shadow: 0px 0px 0 #111;
}

input{
  background: white;
  color: #666;
  border: 1px solid #555;
  padding: 16px;
  font-size: 32px;
  -webkit-appearance: none;
  display: block;
  width: 100%;
  box-sizing: border-box;
  border-radius: 2px;
  outline:none;
}
input:focus{
  box-shadow:0 0 3px #333;
}
#table{
  position:relative;
  background:#ccc;
  width:900px;
  height:500px;
}
.ganger{
  border-radius:50%;
  width:20px;
  height:20px;
  background:#333;
  position:absolute;
}
.ganger .name{
  display:none;
  position:absolute;
  top:40px;
}
.ganger:hover .name{
  display:block;
}
.ganger.hover{
  box-shadow:0 0 2px lightblue;
}
.ganger.active{
  box-shadow:0 0 2px lightgreen;
}